section.brand{
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    padding: 20px 16px;
}
p.brand_img{
    width: 90%;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 16px;
}
p.brand_img img{
    width: 100%;
}
p.title{
    text-align: center;
    font: bold 14px 'Noto Sans KR';
    margin-bottom: 8px;
}
p.sub_title{
    text-align: center;
    font: bold 14px 'Noto Sans KR';
    color: #aaa;
    margin-bottom: 8px;
}
p.text{
    width: 80%;
    margin: 0px auto;
    text-align: center;
    font: normal 12px/150% 'Noto Sans KR';
}
