/* div.visual_wrap{
    width: 100%;
    height: 200px;
    position: relative;
    left: 0px;
    top: 0px;
} 
ul.visual_list{
    width: 100%;
    height: 100%;
    position: relative;
    left: 0px;
    top: 0px;
}
ul.visual_list li{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
}
ul.visual_list li:nth-child(1){
    background: url(/public/images/Mobile/visual_img.png) no-repeat center center;
    background-size: cover;
    display: block;
} */
p.visual_title{
    width: 100%;
    height: 200px;
    text-align: center;
    color: white;
    font: normal 18px 'Noto Sans KR';
    padding-top: 110px;
    background-size: cover;
    box-sizing: border-box;
}
/* div.dot_wrap{
    width: 60px;
    height: 10px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -30px;
}
ul.dot_list{
    width: 100%;
    height: 100%;
}
ul.dot_list li{
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    border-radius:5px;
    background: white;
}
ul.dot_list li.selected{
    background: #FCADA7;
} */
