/* 스와이퍼 제공 */

.swiper {
    width: 100%;
    height: 100%;
}
  
  
.swiper-slide {
    /* text-align: center;
    font-size: 18px;
    background: #fff;
  
    display: flex;
    justify-content: center;
    align-items: center; */
    /* border: solid 3px yellow; */
    height: 100%;
}
/* 
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
/* 스와이퍼 커스텀 */
div.swiper-pagination{
margin-bottom: 3%;
}
span.swiper-pagination-bullet{
width: 14px;
height: 14px;
background: white;
opacity: 0.8;
}
span.swiper-pagination-bullet-active{
background: #FCADA7;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px) !important;
}
/* 뉴스 스와이퍼 */
div#news_wrap{
    width: 1200px;
    min-width: 768px;
}
#news_wrap .newsSwiper{
    width: 100%
}
#news_wrap div.news_list{
    width:90%;
    margin: 0px auto;
    height: 450px;
}
#news_wrap div.news_list_li{
    background: white;
    box-sizing: border-box;
    padding: 15px;
    height: 450px;
    width: 31%;
    border: solid 2px #c7c7c7;
    float: left;
}
#news_wrap .swiper-button-next{
    color: black;
}
#news_wrap .swiper-button-prev{
    color: black;
}
@media screen and (max-width:1200px){
    div#news_wrap{
        width: 100%;
    }
    #news_wrap div.news_list_li{
        font-size: 13px;
    }
}

