ul.menu_list li{
    background: white;
    height: 450px;
    position: relative;
    left: 0px;
    top: 0px;
}
p.menu_img{
    width: 100%;
}
p.menu_img img{
    width: 100%;
}
p.menu_name{
    font: bold 1.5em "Noto Sans KR";
    padding: 0.5em 0.5em 0.5em 0.88em;
}
ul.menu_list li span{
    font: normal 0.5em "Noto Sans KR";
    color: #6c6c6c;
    margin-left: 4px;
}
p.menu_text{
    font: normal 0.88em/150% "Noto Sans KR";
    padding-left: 1.5em;
    padding-right: 1.5em;
    text-align: justify;
    color: #333;
    text-indent: 4px;
    margin-bottom: 1em;
}
p.menu_price{
    font: normal 1em "Noto Sans KR";
    position: absolute;
    bottom: 20px;
    left: 1.5em;
    color: #333;
}
button.menu_btn{
    position: absolute;
    right: 24px;
    width: 30px;
    height: 30px;
    bottom: 20px;
    background: #f0f1f5;
    box-sizing: border-box;
    border-radius: 15px;
    border: none;
}
button.menu_btn i{
    color: #6c6c6c;
    font-size: 20px;
}
div.page_list_wrap{
    width: 10%;
    margin: 80px auto;
    position: relative;
    left: 0px ;
    top: 0px;
}
ul.page_list{
    width: 100%;
}
ul.page_list li{
    font: normal 16px 'Noto Sans KR';
}
ul.page_list li.selected{
    font-weight: bold;
}
div.page_list_wrap button{
    position: absolute;
    background: none;
    border: none;
    font-size: 14px;
    top: 5px;
    
}
button.page_left_btn{
    left: -30px;
}
button.page_right_btn{
    right: -30px;
}

@media screen and (max-width:980px){
   
    ul.menu_list li{
        height: 380px;
        font-size: 14px;
    }
}